body {
  font-family: Arial, sans-serif;
  background-color: #04041c; /* Fondo cambiado a #04041c */
  color: #ffffff; /* Blanco */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #001f3f; /* Azul oscuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.logo {
  width: 150px; /* Tamaño del logo aumentado */
  position: absolute;
  top: 20px;
  left: 20px;
}

h1, h2 {
  color: #ffffff; /* Blanco */
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

input[type="text"], input[type="password"], select {
  width: 90%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #007bff; 
  border-radius: 4px;
  background-color: #04041c; 
  color: #ffffff; 
}

button {
  width: 93%; 
  padding: 10px;
  background-color: #007bff; 
  color: #ffffff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; 
}

.info-section {
  margin-bottom: 20px;
}

.info-section h2 {
  color: #ffffff; 
  margin-bottom: 10px;
}

.info-section ul {
  list-style-type: none;
  padding: 0;
}

.info-section li {
  background: #001f3f; 
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.error {
  color: red;
  text-align: center;
}

#steamInfo, #lolInfo {
  background: #001f3f; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

.match-summary {
  background: #001f3f; 
  padding: 10px;
  border: 1px solid #007bff; 
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.match-summary.win {
  border-color: green;
}

.match-summary.loss {
  border-color: red;
}

.match-summary h3 {
  color: #ffffff; 
  margin-bottom: 5px;
}

.match-summary p {
  color: #ffffff; 
  margin: 0;
}

.match-details {
  margin-top: 10px;
}

.match-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.match-details th, .match-details td {
  border: 1px solid #007bff; 
  padding: 8px;
  text-align: center;
  color: #ffffff; 
}

.match-details th {
  background-color: #001f3f; 
}

.match-details td {
  background-color: #04041c; 
}

.team-composition h4 {
  color: #ffffff; 
  margin-top: 20px;
}

.team-composition {
  display: flex;
  flex-direction: column;
}

.summoner {
  margin-right: 10px;
  text-align: center;
}

.champion-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.match-summaries {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background: #001f3f; 
  margin-top: 20px;
}

.match-summaries-wrapper {
  max-height: 600px; 
  overflow-y: auto;
  padding-right: 10px; 
}

.match-summary {
  background: #001f3f; 
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.match-summary.win {
  border-color: green;
}

.match-summary.loss {
  border-color: red;
}

.match-summary h3 {
  color: #ffffff; 
  margin-bottom: 5px;
}

.match-summary p {
  color: #ffffff;
  margin: 0;
}

.match-details {
  margin-top: 10px;
}

.team-composition {
  display: flex;
  flex-wrap: wrap;
}

.summoner {
  margin-right: 10px;
  text-align: center;
}

.champion-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #007bff;
}

th {
  background-color: #001f3f; 
  color: #ffffff; 
}

td {
  background-color: #04041c; 
  color: #ffffff; 
}

.form-group {
  margin-bottom: 15px;
}

.action-button {
  margin-right: 20px;
  margin-bottom: 10px;
}

.delete-button {
  margin-right: 0;
  margin-bottom: 0;
}
